<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<!-- <listeners>
		<listener class-name="com.htmlreports.ExtentReporterNG" />
	</listeners>
 -->

	<test name="FirefoxTest">
		<parameter name="MyBrowser" value="firefox" />
		<classes>
			<class name="com.pagelibrary.ranford.TestExecution">
				<methods>
					<include name="Lunch_Verify" />
					<include name="Login_Verify" />
					<include name="Branches_Verify" />
					<include name="verifybranchwrite" />
					<!-- <include name="WebTableBranch_verify"/> -->
				</methods>
			</class>
		</classes>
	</test>

	<test name="ChromeTest">
		<parameter name="MyBrowser" value="chrome" />
		<classes>
			<class name="com.pagelibrary.ranford.TestExecution">
				<methods>
					<include name="Lunch_Verify" />
					<include name="Login_Verify" />
					<include name="Roles_Verify" />
					<include name="verifyroleswrite" />
					<!-- <include name="Employee_Verify" />
					<include name="verifyemployeewrite" /> -->
				</methods>
			</class>
		</classes>
	</test>

</suite> 
